@font-face {
    font-family: BonaNova;
    src: url("./assets/font/BonaNova-Regular.ttf");
}

@font-face{
    font-family: BonaNova;
    src: url("./assets/font/BonaNova-Italic.ttf");
    font-style: italic;
}

@font-face{
    font-family: BonaNova;
    src: url("./assets/font/BonaNova-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Rasa;
    src: url("./assets/font/Rasa/Rasa-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: Rasa;
    src: url("./assets/font/Rasa/Rasa-Italic-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: italic;
}

/** === PAGE SETUP === **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Rasa;

    --clr-accent: #923131;
}

html,body{
    height: 100%;
}

body{
    background-color: #e5e0d5;

    color: #221f1f;
    font-size: 18pt;
}

.presentation{
    height: 100%;

    display: grid;
    grid-auto-rows: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide{
    scroll-snap-align: start;

    display: grid;
    place-content: center;
    grid-template-columns: min(1000px, 80%);
    grid-template-rows: min(700px, 70%);
}

.slide-content{
    box-shadow: 0 0 1rem #00000034;
    border-radius: 1rem;
    padding: 1rem;
}

.image-view{
    position: fixed;
    inset: 0;

    background-color: #221f1fbb;

    display: grid;
    place-content: center;

    grid-template-columns: 70%;
    grid-template-rows: 70%;

    transition: transform .125s;
}

.image-view.hidden{
    transform: translateY(-100%);
}

.image-view .image-wrapper{
    /* width: 90%;
    height: 90%; */
}

.image-view img{
    /* max-width: 90vw; */
    /* max-height: 90vh; */
    width: 100%;
    height: 100%;
    object-fit: contain;

    background-color: white;
    padding: 1rem;
}

/** === COMMON STYLING === **/

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

span.accent{
    color: var(--clr-accent);
    font-style: italic;
}

span.profile-icon{
    width: 3rem;
    height: 3rem;

    border-radius: 100%;

    background-image: url('./assets/img/profile_icon.svg');
    background-size: cover;

    display: block;
}

h2{
    color: var(--clr-accent);
    text-decoration: underline;
    text-underline-offset: .25em;
}

ul.basic{
    list-style-type: none;
}

ul.basic li{
    display: grid;
    grid-template-columns: min-content auto;
    gap: .5em;
}

ul.basic > li::before {
    content:  "☞";
    font-size: 1.5em;

    padding-right: .5em;
}

.img-and-caption{
    display: grid;
    gap: 1rem;
    justify-items: center;

    padding: 2rem;

    height: min-content;
}

.img-and-caption img{
    height: 90%;
    align-self: center;
}
.img-and-caption p{
    font-size: .6em;
    opacity: .75;
}

/** === SLIDE SPECIFIC === **/

/** TITLE SLIDE **/
.title-slide{
    display: grid;
    place-content: center;
    gap: 3rem;

    text-align: right;
    padding-right: 2rem;
}

.title-slide h2{
    opacity: .7;
    font-size: 2rem;
    text-decoration: none;
    color: unset;
}


/** ABOUT SLIDE **/

.about-slide{
    display: grid;
    gap: 1rem;

    padding-inline: 4rem;
    padding-block-start: 3rem;
}

ul.authors{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul.authors li{
    display: flex;
    align-items: center;

    gap: 1rem;

    font-size: 1.5em;
}

ul.authors li::before{
    content: '';

    width: 1.5em;
    height: 1.5em;

    border-radius: 100%;

    background-image: url('./assets/img/profile_icon.svg');
    background-size: cover;

    display: block;
}

.about-slide p.university{
    font-size: 1.5em;
    align-self: center;
}

.about-slide p.date{
    opacity: .75;
}

/** PROBLEMS SLIDE **/

.the-problems{
    display: grid;
    grid-template-rows: min-content auto;

    gap: 3em;

    padding-inline: 4rem;
    padding-block-start: 3rem;
}

.the-problems ul{
    font-size: 1.5em;
}

.the-problems ul > li{
    margin-block-start: 1em;
}

/** SOLUTION **/

.solution{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 2em;

    padding-inline: 4rem;
    padding-block-start: 3rem;
}

.solution ul,
.solution p {
    font-size: 1.5em;
}

/** FILTERING METHODS **/

.filtering-methods{
    padding-inline: 4rem;
    padding-block-start: 3rem;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 3em;
}

.filtering-methods ul,
.filtering-methods p{
    font-size: 1.5em;
}

/** DCT **/

.dct{
    padding-inline: 4rem;
    padding-block-start: 3rem;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 3em;
}

.dct p {
    font-size: 1.5em;
}

/** DFT **/

.dft{
    padding-inline: 4rem;
    padding-block-start: 3rem;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 3em;
}

.dft p {
    font-size: 1.5em;
}

/** DWT **/

.dwt{
    padding-inline: 4rem;
    padding-block-start: 3rem;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 3em;
}

.dwt p {
    font-size: 1.5em;
}

/** MODELS **/

.models{
    padding-inline: 4rem;
    padding-block-start: 3rem;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 3em;
}

.models ul,
.models p{
    font-size: 1.5em;
}

/** BiLSTM & BiGRU & Test setup **/
.bilstm,
.bigru,
.test-setup{
    display: grid;
    grid-template-rows: min-content auto;

    align-items: center;

    font-size: 1.5em;

    padding-inline: 4rem;
    padding-top: 3rem;
}

.bilstm .img-and-caption,
.bigru .img-and-caption,
.test-setup .img-and-caption{
    height: 85%;
}

.test-setup .img-and-caption img{
    height: unset;
    width: 100%;
    max-width: 1000px;
}

/** TEST SUBJECTS **/
.test-subjects{
    display: grid;
    grid-template-rows: min-content min-content 50%;

    align-items: center;

    font-size: 1.5em;

    padding-inline: 4rem;
    padding-top: 3rem;

    gap: 2rem;
}

.test-subjects .img-and-caption{
    height: 85%;
    padding: 0;
}

.test-subjects .img-and-caption img{
    /* height: 80%; */
    /* height: unset; */
    /* width: 80%; */
    /* max-height: 500px; */
    height: 350px;
}

/** RESULTS **/

.results1{
    padding-inline: 4rem;
    padding-block-start: 3rem;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 3em;

    font-size: 1.5em;
}

.results2{
    display: grid;
    grid-template-rows: min-content auto;

    align-items: center;

    font-size: 1.5em;

    padding-inline: 4rem;
    padding-top: 3rem;
}

.results2 .img-and-caption{
    height: 85%;
}

.results2 .img-and-caption img{
    width: 100%;
}


@media print {
    body{
        overflow-y: scroll !important;
    }

    main{
        overflow-y: visible !important;
    }

    .slide {
        font-size: .8em;
    }

    .image-view.hidden{
        display: none;
    }
}